__pycache__/
*.py[cod]
.ipynb_checkpoints/

*.log
*.pid
vllm_logs/

train/log/
train/model/
results/
best_of_n_results/
outputs/

data/*.jsonl
pruned_data_pipeline/data/*.jsonl
pruned_data_pipeline/data/*/
